:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin : 0;
}

.container {
    display :flex;
    flex-direction: column;
    align-items: center;
    gap : 32px
}

.menu {
    background-color: #fefce8;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
}

.center-console {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-btn {
    background-color: #f87171;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 16px;
}

.game-title {
    font-size: 48px;
    font-weight: 700;
}

.p-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.player-basic {
    font-size: 24px;

}

.player-score {
    font-size: 72px;
    font-weight: 700;
}

.change-name {
    font-size: 10px;
    font-weight: lighter;
}

.board {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 60vh;
    background-color: #f9a8d4;
    padding: 32px;
    border-radius: 24px;
}

.board-cell {
    border: 1px solid #404040;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;

}

.board-cell:hover {
    background-color: #fce7f3;
}

.menu {
    padding: 16px;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

#top-left {
    border-top: none;
    border-left: none;
}

#top-center {
    border-top: none;
}

#top-right {
    border-top: none;
    border-right: none;
}

#center-left { 
    border-left: none;
}

#center-right {
    border-right: none;
}

#bottom-left {
    border-left: none;
    border-bottom: none;
}

#bottom-center {
    border-bottom: none;
}

#bottom-right {
    border-right: none;
    border-bottom: none;
}

.messages {
    text-align: center;
    font-weight: 700;
    color: #f87171;
}